.cart a{
    text-decoration: none;
}
.cart{
    padding-right: 1em;
}
.main{
    min-height: 600px;
}
.footer{
    background-color: #e3f2fd;
    height: 60px;
}
.center{
    text-align: center;
    padding-top: 10px;
}
.central{
    background-color: #e3f2fd;
    margin: 80px;
    padding: 50px;
}
.logout{
    padding-left: 1em;
    text-decoration: none;
}